

<template>
  <section>
  <h1>Phasouk LOUANGCHALERN</h1>
</section>
</template>

<script>
export default {

  name: 'App',
}
</script>

<style >
#app {
font-family: Avenir, Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
text-align: center;
color: rgb(3, 168, 168);
margin-top: 60px;
}

</style>
